# Add any directories, files, or patterns you don't want to be tracked by version control

/config.server.php
php.ini
/license.php
.htpasswd
.idea
.DS_Store
.vscode
/archives/*
!/archives/.htaccess
/archives_rev/*
!/archives_rev/.htaccess
/media/*
!/media/.htaccess
/cache/*
!/cache/.htaccess
/storage/*
!/storage/.htaccess
/private/backup*
!/storage/.htaccess
/*setup*
node_modules
/ioncube
/package-lock.json
/themes/system
/themes/root/dest
