/* ------------------------------
　　ヘッダー
------------------------------ */
.l-header {
	background: $bg-color;
}
.l-header-desc {
	display: none;
	position: relative;
	text-align: right;
	background: #333;
	z-index: 1;
}
.l-header-desc-text {
	margin-top: 0;
	margin-bottom: 0;
	color: #FFF;
	@include font-size(12);
  line-height: 1.7;
}
@media screen and (min-width: $breakpoint-md-min){
	.l-header-desc {
		display: block;
		z-index: 100;
	}
}
@media (min-width : $breakpoint-lg-min) {
	.l-header {
		height: 120px;
	}
}


/* 　レイアウト
------------------------------ */
.l-header-layout-logo {
	/* 固定したときの高さを保つ */
	height: $sp-header-height;
}
@media (min-width : $breakpoint-lg-min) {
	.l-header-layout {
		display: table;
		width: 100%;
	}
	.l-header-layout-logo {
		display: table-cell;
		width: 40%;
		vertical-align: middle;
	}
	.l-header-layout-nav {
		display: table-cell;
		width: 60%;
		vertical-align: middle;
	}
}
@media (min-width : $breakpoint-lg-min) {
	.l-header-layout-logo {
		padding: 0;
	}
}

/* 　サイトロゴ
------------------------------ */
.l-header-site-name {
	padding: 0 102px 0 0;
	font-weight: bold;
	color: $secondary-color;
	a {
		color: $secondary-color;
		 &:hover,
		 &:focus,
		 &:active,
		 &:visited {
			color: $secondary-color;
       text-decoration: none;
		}
    .l-header-logo-inner {
      //transition: transform .2s $easeInQuart;
    }
    &:hover {
      .l-header-logo-inner {
        //transform: scale(1.05);
        animation: scale-up .3s;
      }
    }
	}
}
.l-header-site-name-inner {
	display: table;
	width: 100%;
	height: $sp-header-height;
}
.l-header-logo {
	display: table-cell;
	width: 60px;
	height: auto;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.l-header-logo-inner {
	position: relative;
	width: 60px;
	height: 60px;
	margin: -10px 5px 0 0;
	border-radius: 50%;
	background: $base-color;
	text-align: center;
	z-index: -1;
}
.l-header-logo-img {
	padding: 20px 6px 15px;
	width: 48px;
}


.l-header-site-name-text-inner {
	display: table-cell;
	vertical-align: middle;
}
.l-header-site-name-copy {
	display: block;
	margin: 0 0 5px 0;
	@include font-size(10);
	line-height: 1.2;
}
.l-header-site-name-text {
	display: block;
  width: 122px;
	margin: 5px 0;
	@include font-size(14);
	line-height: 1.2;

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
.edit-link {
	display: inline-block;
	vertical-align: middle;
	@include font-size(14);
}

@media (min-width : $breakpoint-md-min) {
	.l-header-site-name {
		padding: 0;
		@include font-size(24);
	}
}
@media (min-width : $breakpoint-lg-min) {
	.l-header-site-name-inner {
		height: auto;
	}
	.l-header-site-name-copy {
    margin: 0 0 10px 0;
		@include font-size(14);
	}
	.l-header-site-name-text {
		//@include font-size(28);
    width: 260px;
	}
	.l-header-logo {
		width: 130px;
	}
	.l-header-logo-inner {
		width: 130px;
		height: 130px;
		margin: -20px 15px 0 0;
		z-index: 10;
	}
	.l-header-logo-img {
		padding: 40px 15px 30px;
		width: 104px;
	}
}
@media (min-width : $breakpoint-xl-min) {
  .l-header-site-name-text {
    width: 318px;
  }
}


/* 　ナビゲーション
------------------------------ */
.l-header-nav {
	position: fixed;
		top: 0;
		right: 0;
	width: 100%;
	background: #FFF;
	z-index: 100000;
	@include box-sizing(border-box);
}
@media (min-width : $breakpoint-lg-min) {
	.l-header-nav {
		position: static;
	}
}
/* モバイル時ナビゲーションボタン */
.l-header-menu {
	position: absolute;
	top: 0;
	right: 0;
	list-style: none;
	margin: 0;
	padding: 0;
}
.l-header-menu-item {
	float: right;
	width: 50px;
	margin: 0 0 0 1px;
}
.l-header-menu-btn {
	display: block;
	height: $sp-header-height;
	padding: 10px 0;
	color: #333;
	line-height: 1;
	text-align: center;
	@include box-sizing(border-box);
	a & {
		color: #333;
	}
	 &:hover {
		color: #333;
		text-decoration: none;
	}
	.fa {
		display: inline-block;
    @include font-size(24);
	}
}
.l-header-menu-btn-attention {
	background: $base-color;
  &:hover,
  &:visited,
  &:active,
  &:focus {
    color: #333;
    text-decoration: none;
  }
}
.l-header-menu-btn-fav {
	background: #F4F4F4;
	.fa {
		// color: $fav-color;
	}
}
.l-header-menu-btn-text {
  display: inline-block;
	margin: 0;
  color: #333;
	@include font-size(10);
	font-weight: bold;
	vertical-align: middle;
  transform: scale(0.9);
}

/* アクションアイテム */
.l-header-action {
	display: none;
	float: right;
	margin: 0 -10px 15px -10px;
	padding: 0;
	list-style: none;
}
.l-header-action-item {
	float: left;
	display: inline-block;
	padding: 0 10px;
}
@media screen and (min-width: $breakpoint-lg-min){
	.l-header-action {
		display: block;
	}
}

/* ナビゲーションバー */
.l-header-navbar {
	display: none;
	width: 100%;
	 &.acms-admin-module-edit-wrapper {
		// ログインしているとき、下階層ナビゲーションを非表示にさせない対応
		z-index: 1;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	li {
		a {
			display: block;
			padding: 10px;
			color: #333;
			@include font-size(16);
			 &:hover,
			 &:focus,
			 &:active {
				text-decoration: none;
				color: #FFF;
				background: $primary-color;
			}
		}
	}
}

@media (min-width : $breakpoint-lg-min) {
	.l-header-navbar {
		display: inline-block;
		vertical-align: middle;
		 & > ul {
			float: right;
			list-style: none;
			padding: 0;
			@include dotted($position: right,$color:$secondary-color, $stripe: 1, $spacing: 5, $width:1);
		}
		li {
      display: table;
			float: left;
			position: relative;
			vertical-align: middle;
			text-align: center;
			@include dotted($position: left,$color:$secondary-color, $stripe: 1, $spacing: 5, $width:1);
			ul { /* 二階層目 */
        position: absolute;
        left: 0;
				display: none;
				min-width: 200px;
			}
			li {
				margin: 0;
			}
			a { /* 一階層目のリンクのみ */
        position: relative;
        display: table-cell;
        padding: 0 14px;
        height: $global-nav-height;
        vertical-align: middle;
        @include transition(border .25s ease-out);
        overflow: hidden;

        &:hover,
        &:focus,
        &:active {
          color: #333;
          background: transparent;
        }
        &:before {
          content: "";
          position: absolute;
          right: 0;
          left: 0;
          bottom: 0;
          width: 100%;
          height: 10px;
          background: $base-color;
          transform: translate(0,100%);
          transition: transform .2s $easeInQuart;
        }
        &:hover:before {
          transform: translate(0);
        }
			}
			 &.stay {
				a:before { /* 一階層目のリンクのみ */
          transform: translate(0);
				}
			}
			 &:hover {
				ul { /* 二階層目 */
					display: block;
					z-index: 10000;
					@include animation(0.8s fade-in);
				}
				a { /* 一階層目のリンクのみ */
				}
				li {
					a {
						border: 0;
					}
				}
			}
			li { /* 二階層目以降 */
				display: block;
				float: none;
				text-align: left;
				background: $primary-color;
				border: 0;
				border-top: 1px solid $primary-color;

        &:first-child {
					border: 0;
				}
				a {
					margin: 0;
					padding: 10px 15px;
					color: #FFF;
					border: 0;
					 &:hover {

						color: #FFF;
						border: 0;
						background: $primary-color;
					}
				}
			}

		}
	}
}

@media (min-width : $breakpoint-lg-min) {
	.l-header-navbar {
		ul {
			li {
				a {
					@include font-size(16);
				}
			}
		}
	}
}
